<div class="movie_info" id="movie_details_{{movie_id}}">
  <img class="movie_poster" src="/movie_posters/{{poster_dir}}/{{poster}}.jpg">
  <div class="movie_details">
    <strong>Plot:</strong>
    <label>{{plot}}</label>
  </div>
  <div class="clear"></div>
</div>