body.movies .movie_list {
  ul {
    margin-left: 10px;

    li {
      list-style:none;

      label {
        margin-bottom: 0;
        cursor:default;
      }
    }
  }
  .movie_info {
    margin:0 0 18px 10px;
    border:1px solid #eee;
    padding:10px;

    .movie_poster {
      float:left;
    }
    .movie_details {
      float:left;
      width:300px;
      padding-left:10px;
    }
  }
}