<div class="container-fluid">
  <div class="row-fluid">
    <%= render partial:'category_list' %>

    <div class="span9">
      <div class="row-fluid">
        <div class="span9">
          <h4>Select a catogory on the left</h4>
        </div>
      </div>
    </div>
  </div>
</div>